In [49]:
import pandas as pd

In [9]:
ARQ_VENDAS = r'D:\#Mega\Jeferson - Dev\02 - Linguagens\Python\Analise_Producao_Geral\files\dados_vendas.csv'

In [13]:
df = pd.read_csv(ARQ_VENDAS)

In [14]:
df

,Data,Produto,Cliente,Quantidade_vendida,Preco_unitario,Valor_total
0,2024-01-01,A,Cliente Alfa,104,26.16,2720.64
1,2024-01-01,B,Cliente Alfa,24,27.94,670.56
2,2024-01-01,B,Cliente Alfa,30,27.12,813.60
3,2024-01-01,B,Cliente Alfa,15,32.82,492.30
4,2024-01-01,C,Cliente Gama,55,18.73,1030.15
...,...,...,...,...,...,...
4533,2025-01-01,C,Cliente Gama,25,20.95,523.75
4534,2025-01-01,D,Cliente Gama,55,16.43,903.65
4535,2025-01-01,E,Cliente Gama,22,14.15,311.30
4536,2025-01-01,E,Cliente Alfa,14,15.67,219.38
4537,2025-01-01,E,Cliente Gama,4,15.74,62.96

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data                4538 non-null   datetime64[ns]
 1   Produto             4538 non-null   object
 2   Cliente             4538 non-null   object
 3   Quantidade_vendida  4538 non-null   int64
 4   Preco_unitario      4538 non-null   float64
 5   Valor_total         4538 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 212.8+ KB

In [32]:
df['Data'] = pd.to_datetime(df['Data'])

In [39]:
df_filtrado = df[(df['Data'].dt.year == 2025) & (df['Data'].dt.month == 1)]

In [40]:
df_filtrado

,Data,Produto,Cliente,Quantidade_vendida,Preco_unitario,Valor_total
4526,2025-01-01,A,Cliente Zeta,39,25.52,995.28
4527,2025-01-01,A,Cliente Zeta,31,22.67,702.77
4528,2025-01-01,A,Cliente Beta,28,23.81,666.68
4529,2025-01-01,B,Cliente Delta,26,30.90,803.40
4530,2025-01-01,B,Cliente Zeta,29,31.41,910.89
4531,2025-01-01,B,Cliente Beta,22,32.16,707.52
4532,2025-01-01,C,Cliente Alfa,20,19.44,388.80
4533,2025-01-01,C,Cliente Gama,25,20.95,523.75
4534,2025-01-01,D,Cliente Gama,55,16.43,903.65
4535,2025-01-01,E,Cliente Gama,22,14.15,311.30
4536,2025-01-01,E,Cliente Alfa,14,15.67,219.38
4537,2025-01-01,E,Cliente Gama,4,15.74,62.96

In [44]:
df_total_venda = df['Valor_total'].sum()

In [45]:
df_total_venda

2623402.0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data                4538 non-null   datetime64[ns]
 1   Produto             4538 non-null   object
 2   Cliente             4538 non-null   object
 3   Quantidade_vendida  4538 non-null   int64
 4   Preco_unitario      4538 non-null   float64
 5   Valor_total         4538 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 212.8+ KB

In [48]:
df['Quantidade_vendida'] = df['Quantidade_vendida'].pd.t

SyntaxError: invalid syntax (3809747527.py, line 1)