In [24]:
import pandas as pd

In [25]:
ARQ_VENDAS = r'D:\#Mega\Jeferson - Dev\02 - Linguagens\Python\Analise_Producao_Geral\files\dados_vendas.csv'

In [26]:
df = pd.read_csv(ARQ_VENDAS)

In [27]:
df

,Data,Produto,Cliente,Quantidade_vendida,Preco_unitario,Valor_total
0,2022-01-01,Caneta Azul,Cliente Alfa,104,26.16,2720.64
1,2022-01-01,Caneta Preta,Cliente Alfa,24,27.94,670.56
2,2022-01-01,Caneta Preta,Cliente Alfa,30,27.12,813.60
3,2022-01-01,Caneta Preta,Cliente Alfa,15,32.82,492.30
4,2022-01-01,Caneta Vermelha,Cliente Gama,55,18.73,1030.15
...,...,...,...,...,...,...
13491,2024-12-30,Caneta Verde,Cliente Delta,55,16.96,932.80
13492,2024-12-30,Caneta Amarela,Cliente Épsilon,1,14.16,14.16
13493,2024-12-30,Caneta Amarela,Cliente Ômega,1,15.50,15.50
13494,2024-12-30,Caneta Amarela,Cliente Ômega,5,15.00,75.00
13495,2024-12-30,Caneta Amarela,Cliente Épsilon,4,15.02,60.08

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13496 entries, 0 to 13495
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data                13496 non-null  object
 1   Produto             13496 non-null  object
 2   Cliente             13496 non-null  object
 3   Quantidade_vendida  13496 non-null  int64
 4   Preco_unitario      13496 non-null  float64
 5   Valor_total         13496 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 632.8+ KB

In [29]:
df['Data'] = pd.to_datetime(df['Data'])

In [30]:
df_filtrado = df[(df['Data'].dt.year == 2025) & (df['Data'].dt.month == 1)]

In [31]:
df_filtrado

Empty DataFrame
Columns: [Data, Produto, Cliente, Quantidade_vendida, Preco_unitario, Valor_total]
Index: []

In [32]:
df_total_venda = df['Valor_total'].count()

In [33]:
df_total_venda

13496

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13496 entries, 0 to 13495
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data                13496 non-null  datetime64[ns]
 1   Produto             13496 non-null  object
 2   Cliente             13496 non-null  object
 3   Quantidade_vendida  13496 non-null  int64
 4   Preco_unitario      13496 non-null  float64
 5   Valor_total         13496 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 632.8+ KB

In [38]:
ticket = df.groupby('Cliente')['Valor_total'].sum().rank()
produto = df.groupby('Produto')['Quantidade_vendida'].sum().rank()

In [39]:
produto

Produto
Caneta Amarela     1.0
Caneta Azul        5.0
Caneta Preta       4.0
Caneta Verde       2.0
Caneta Vermelha    3.0
Name: Quantidade_vendida, dtype: float64